:root {
  --color-text-main: #434455;
  --color-background: #fff;
  --font-heading: "Raleway", sans-serif;
  --font-text-main: "Roboto", sans-serif;
}

.big-first-letter {
  text-transform: uppercase;
}

.web {
  width: 44px;
  color: var(--color-text-in-web-and-btn);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio {
  width: 71px;
  color: var(--color-text-in-menu-adress-h3-footer-bg);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  border-bottom: 1px solid;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.logo {
  text-decoration: none;
  color: #4d5ae5;
}
.logo:focus {
  color: #4d5ae5;
}

.h1 {
  text-decoration: none;
  color: #fff;
  text-align: center;

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;

  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}

.h2 {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;

  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.h3 {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;

  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.p {
  text-decoration: none;
  color: var(--slate, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.32px;
}

.menu > {
  color: #2e2f42;
}
.contacts {
  text-decoration: none;
  color: var(--slate, #434455);

  font-family: Roboto;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.32px;
}
.contacts:hover {
  outline-color: #4d5ae5;
}
.contacts:focus {
  outline-color: #4d5ae5;
}

.filter-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.filter-button:hover {
  outline-color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.filter-button:focus {
  outline-color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.ul {
  list-style: none;
}

.nav-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.contacts-link {
  color: var(--slate, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.first-button {
  color: var(--white, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
